#header
{

}
#content
{
}
p
{
font-size:1em;
font-family: "Verdana","Times","Serif";
}
h1
{
font-size:3em;
font-family: "Verdana","Times","Serif";
}
h2
{
font-size:2em;
font-family: "Verdana","Times","Serif";
}
h3
{
font-size:1,5em;
font-family: "Verdana","Times","Serif";

}
h4 
{
  font-size:1,25em;
  font-family:"Verdana", "Times", "Serif";
}
                                                                      